{% extends 'base.html'%}

{% block title %}
  Zigo App - Parcel
{% endblock %}



{% block content %}
    {# <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name">Zigo Parcel App</span>
                        <hr class="star-light">
                        <span class="skills">Do You have a parcel you would love to tranport - Check out on the near by location.</span><br>
                        <span class="skills">We offer a platform to check on near by agents to transfer your parcels.</span><br>
                        <img class="img-responsive img-rounded" src="img/parcel.JPG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Near by Services to use.</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                         <center><img src="img/parcel/g4s.png" class="img-responsive" alt="" style="padding-bottom:19%;"> </center>
                         <center><h2>G4S</h2> </center>
                    </a>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                       <center> <img src="img/parcel/posta.jpg" class="img-responsive" alt=""> </center>
                        <center><h2>Posta Parcel</h2></center>
                    </a>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <center><img src="img/parcel/ups.png" class="img-responsive" alt=""></center>
                        <center><h2>UPS</h2></center>
                    </a>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                         <center><img src="img/parcel/2nk.jpg" class="img-responsive" alt="" style="padding-bottom:39%;"> </center>
                         <center><h2>Pickparcel</h2></center>
                    </a>
                </div>
            </div>
        </div>
    </section>
<section>
    <header>
    <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name">Enter Your Location</span>
                        <hr class="star-light">
                        <form class="form-control" style="height:300px;">
                                <h2>Please Select your current Location</h2>
                            <select>
                                <option>Select----</option>
                                <option>Nyeri</option>
                                <option>Nyahururu</option>
                                <option>Nairobi</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header> #}


{% endblock %}

   {#  <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/benerdettemoraa.min.js"></script>

</body>

</html>
 #}
